# Core functionality - changes here should be rare!
/src/app.py                   @soe-code
/src/backend/database.py      @soe-code
/src/backend/routers/auth.py  @soe-code

# The frontend will need refactored soon to be more object oriented.
/src/static/   @soe-code
